{
	margin: 0;
	padding: 0;
}

header
{
	background-image:  download.jpg; 
	height:100vh;
	background-size: cover;
	background-position: center; 
}

main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

main-nav li
{
	display: inline-block;
}
main-nav li
{
	color: white;  
	text-decoration:none;
padding: 5px 20px
font-family: 'Times New Roman',Times,serif; 
font-size: 15px;
}

main-nav li.active a
{
	border: 1px solid black
}

main-nav li a:hover
{
	border: 1px solid black
}
